{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Company{% endblock %}

{% block content %}
<div class="w-full mt-2">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Delete Company</h1>

    <p class="text-lg text-gray-700 mb-4">
        Are you sure you want to delete the company "<strong class="font-semibold">{{ company.name }}</strong>"?
    </p>
    <p class="text-sm text-red-600 mb-6">
        This action cannot be undone and will also delete all associated branches.
    </p>

{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition duration-200 ease-in-out">Confirm Delete</button>#}
{#        <a href="{% url 'company:company_list' id=company.id %}" class="ml-4 text-gray-600 hover:underline">Cancel</a>#}
{#    </form>#}
</div>
{% endblock content %} 